<section class="sidebar">
  <div class="sidebar-logo text-center">
    <img src="../../../../assets/logo/logo.png" alt="Logo NominaSoft">
  </div>
  <label class="menu" for="list-items">- Administración</label>
  <ul class="list-items" id="list-items">
    <li>
      <a class="item-nav" routerLink="/dashboard/home-panel" routerLinkActive="activo">
      <i class="fas fa-chart-pie"></i> Dashboard</a>
    </li>
    <li>
      <a class="item-nav" routerLink="/dashboard/register-panel" routerLinkActive="activo">
      <i class="fas fa-file-invoice"></i> Panel Contrato</a>
    </li>
  </ul>
  <label class="menu" for="list-items">- Pagos</label>
  <ul class="list-items" id="list-items">
    <li>
      <a class="item-nav" routerLink="/dashboard/payment-panel" routerLinkActive="activo">
        <i class="fas fa-dollar-sign"></i> Panel Pago</a>
    </li>
  </ul>
</section>
