<div class="container-employee">
  <section class="banner-home">
      <h2 class="title">Panel Empleado</h2>
      <p class="text-secondary">{{date}}</p>
  </section>
  <section>
    <div class="card card-body border-0 shadow mt-4">
      <!--h5>Lista de Empleados</h5-->
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingrese DNI">
            <div class="input-group-append">
              <button class="btn btn-secondary "><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary btn-add" (click)="openModal(modalEmpleado)">
            <i class="fas fa-user-plus"></i>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">DNI</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Estado Civil</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-secondary" *ngFor="let empleado of empleados">
              <td>{{empleado.id}}</td>
              <td>{{empleado.dni}}</td>
              <td>{{empleado.nombre}}</td>
              <td>{{empleado.fechaNacimiento}}</td>
              <td>
                <span class="badge badge-secondary">{{empleado.estadoCivil}}</span>
              </td>
              <td>{{empleado.telefono}}</td>
              <td>{{empleado.direccion}}</td>
              <td>
                <div class="btn-group" role="group" >
                  <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-user-edit"></i></button>
                  <button type="button" class="btn btn-sm btn-danger"><i class="fas fa-user-times"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<ng-template #modalEmpleado >
    <div class="modal-header">
      <h4 class="modal-title pull-left">Formulario Empleado</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputDni">DNI</label>
          <input type="text" class="form-control" id="inputDni" placeholder="DNI Empleado">
        </div>
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" placeholder="Nombres y Apellidos">
        </div>
        <div class="form-group col-md-3">
          <label for="inputFNacimiento">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="inputFNacimiento">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputTelefono">Teléfono</label>
          <input type="number" class="form-control" id="inputTelefono" placeholder="Teléfono o Celular">
        </div>
        <div class="form-group col-md-4">
          <label for="inputECivil">Estado Civil</label>
          <select class="custom-select" id="inputECivil">
            <option selected>select menu</option>
            <option value="1">Soltero</option>
            <option value="2">Casado</option>
            <option value="3">Conviviente</option>
            <option value="3">Divorciado</option>
            <option value="3">Viudo</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputGAcademico">Grado Académico</label>
          <select class="custom-select" id="inputGAcademico">
            <option selected>select menu</option>
            <option value="1">Primaria</option>
            <option value="2">Secundaria</option>
            <option value="3">Bachiller</option>
            <option value="3">Profesional</option>
            <option value="3">Magister</option>
            <option value="3">Doctor</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputDireccion">Dirección</label>
          <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary">Guardar Cambios</button>
      <button class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
    </div>

</ng-template>
