<div class="row">
  <section class="banner-login">
    <!--img src="../../assets/login/ilustracion-1.png" alt=""-->
  </section>
  <section class="content-login">
    <div class="content-login__form text-center">
      <i class="fas fa-user-circle icon"></i>
        <div class="input-group  mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text pl-3 pr-3"><i class="fas fa-user-alt"></i></div>
          </div>
          <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        </div>
        <div class="input-group mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text pl-3 pr-3"><i class="fas fa-lock"></i></div>
          </div>
          <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
        </div>
        <button class="mt-4 w-50 btn btn-primary" routerLink="/dashboard/home-panel">Iniciar Sesión</button>
      <p class="text-center mt-4" style="font-size: 15px;"><a href="#">¿Has olvidado la contraseña?</a></p>
      <p class="text-login">
        &copy; Derechos Reservados 2021<br> Proyecto NominaSoft
      </p>
    </div>
  </section>
</div>
